* {
    color: #FFF;
}

.infoNomeHeroi{
    background: #51296F;
    display: inline-flex;
    border-radius: 5px;
    width: 45%;
    height: 18px;
    padding: 10px;
    margin-right: 30px;
}

.infoIDHeroi{
    background: #51296F;
    display: inline-block;
    border-radius: 5px;
    width: 25%;
    height: 18px;
    padding: 10px;
}

.txtInfoHeroi{
    margin-top: 20px;
    line-height: 22px;
}

.paragrafoInfoHeroi{
    margin-bottom: 18px;
}

@media (max-width: 600px) {
    .txtInfoHeroi{
        padding: 20px;
    }
    .infoNomeHeroi{
        width: 56%;
    } 
}