<div id="ancoraTopo" class="main">
  <div class="lista-heroes">
    <ul class="heroes">
      <li *ngFor="let hero of heroes">
        <a href="#ancoraInfo"><button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
          <span class="badge">{{hero.id}}</span>
          <span class="name">{{hero.name}}</span>
          <img [src]="hero.imageCard" alt="{{hero.name}}'s image" class="hero-image">
        </button></a>
      </li>
    </ul>
  </div>

  <div id="ancoraInfo" class="info-heroes">
    <a href="#ancoraTopo" class="ancoraTopo">
      <img src="assets/images/topo.png" alt="Topo">
    </a>
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
  </div>
</div>