.main {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espaçamento entre os elementos */
  padding: 2rem;
  max-width: 95%;
  margin: auto;
}

.lista-heroes {
  width: 30%; /* Largura da lista */
  display: flex;
}

.info-heroes {
  flex-grow: 1; /* O info-heroes vai ocupar o espaço restante */
  width: 100%;
}


.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  display: flex; /* Exibe os itens da lista em linha */
  flex-wrap: wrap; /* Permite que os itens quebrem linha, se necessário */
  gap: 20px; /* Espaçamento entre os itens */
}

.heroes li {
  display: flex;
}

.heroes button {
  display: flex;
  flex: 1;
  cursor: pointer;
  position: relative;
  background: transparent;
  margin: .2em;
  padding: 0;
  border-radius: 10px;
  align-items: stretch;
  height: 178px;
  width: 178px;
}

.heroes button:hover {
  color: #2c3a41;
  border: 2px solid #ff1559;
}

.heroes button:active {
  background-color: #525252;
}

.heroes button.selected {
  border: 2px solid #ff1559;
  color: white;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  display: none;
  border-radius: 10px 0 0 10px;
}

.heroes .name {
  align-self: center;
  display: none;
}

.ancoraTopo{
  display: none;
}

@media (max-width: 600px) {
  .main {
    display: block;
    gap: 20px; /* Espaçamento entre os elementos */
    padding: .5rem;
    max-width: 1000px;
    margin: auto;
  }
 .heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 20px 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .lista-heroes {
    width: 100%; /* Largura da lista */
    display: flex;
  }
  .info-heroes{
    width: 100%;
  }
  .heroes button {
    height: 125px !important;
    width: 125px !important;
  }
 
  .info-heroes img {
     max-width: 100% !important;
  }

  .ancoraTopo{
    display: block;
    position: absolute;
    left: 84%;
    margin-top: 5px;
}

.ancoraTopo{
  display: block;
  position: absolute;
  left: 84%;
  margin-top: 5px;
}

.ancoraTopo img{
  max-width: 85%;
}

}

@media (min-width: 1000px) {
  .lista-heroes {
    width: 31%;
  }

  .info-heroes {
    width: 65%;
    margin-left: 20px;
    position: absolute;
    left: 30%;
    top: 0;
  }

  .heroes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Garante duas colunas de heróis */
  }
}
